@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: #fafafa;
    min-height: 100dvh;
    min-width: 350px;
    display: flex;
    flex-direction: column;
}
