@import 'Typed';

.inputWrapper {
    display: block;
    width: 50%;
    > .interests {
        display: block;
        appearance: none;
        width: 100%;
        height: 100%;
        background-color: transparent;
        border: none;
    }
    > .interests {
        pointer-events: none;
        @include typed(
            'learning Bezier curve',
            'web standards',
            'Node JS',
            1.5,
            (
                caret-width: 2px,
                caret-space: 2px,
            )
        );
    }
}
