.spinning {
    animation-name: spin;
    animation-duration: 4500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform-origin: center center;
}

.fadeIn {
    opacity: 0;
    animation-delay: 0.1s;
    animation-duration: 1.4s;
    animation-name: animateFadeIn;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.pointerAsterisk {
    transition-property: opacity;
    transition-timing-function: ease-in-out;
    transition-duration: 400ms;
}

@keyframes animateFadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
